__pycache__/
*.py[cod]
*$py.class


.venv/
venv/
env/


.vscode/
.idea/


.DS_Store
Thumbs.db


*.log


*.pt
*.pth
*.bin
*.ckpt
*.onnx


*.zip
*.7z
*.tar.gz


cache/*
!cache/.gitkeep


checkpoints/*
!checkpoints/.gitkeep


data/*
!data/**/
!data/**/.gitkeep

data/external/*
!data/external/.gitkeep


databkp-test


run/*
!run/.gitkeep


dp_core.cp312-win_amd64.pyd.reload1

