pyyaml==6.0.3
scrapy==2.16.0
pytest-playwright==0.8.0
lxml==6.1.1
lingua-language-detector==2.2.0
langid==1.1.6
sentence-transformers==5.5.1
scipy==1.13.1
numpy==1.26.4
spacy==3.8.14
cython==3.2.5
torch==2.2.2
transformers==4.46.3
huggingface_hub==0.26.5
nltk==3.10.0
datasketch==2.0.0
simhash==2.1.2
OpenNMT-py==3.5.1
jieba==0.42.1
sacrebleu==2.6.0